<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Edit event</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
	<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		  rel="stylesheet"/>
</head>

<body class="text-center bg-event">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto" th:replace="fragments/components :: header">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
			</nav>
		</div>
	</header>

	<figure class="text-center">
		<h4>Edit this event</h4>
	</figure>

	<div class="cover-container align-self-center">

		<form id="newEventForm" method="POST" th:action="@{/admin/edit/event/{id}(id=${event.id})}"
			  th:object="${event}">
			<div class="text-danger" th:if="${#fields.hasGlobalErrors()}">
				<p class="" th:each="err : ${#fields.globalErrors()}" th:text="${err}"> this will contain errors
				</p>
			</div>

			<div class="row my-3 align-self-center justify-content-center">

				<div class="col-md-6">
					<label class="form-label" for="eventname">Name</label>
					<input class="form-control" id="eventname" placeholder="Meeting" required th:field="*{name}"
						   th:value="*{name}" type="text"/>
					<span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">
							error name</span>
				</div>

				<div class="col-md-6">
					<label class="form-label" for="organizer">Select organizer</label>
					<select class="form-control" id="organizer" th:field="*{organizer}">
						<option th:each="c : ${organizersList}" th:text="${c}" th:value="${c.id}"> Topo Lino
						</option>
					</select>
				</div>
			</div>

			<div class="row my-3 align-self-center justify-content-center">
				<div class="col mb-3">
					<div class="input-group">
						<span class="input-group-text">Description</span>
						<textarea aria-label="Description" class="form-control" placeholder="Entere here the description"
								  required th:field="*{description}"
								  th:value="*{description}"></textarea>
					</div>
				</div>
			</div>


			<div class="row my-3 align-self-center justify-content-center">
				<div class="col-md-8 mb-3">
					<label class="form-label" for="datetimepicker4Input">Date:</label>
					<div class='input-group' id='datetimepicker4'>
						<!--type='datetime-local'-->
						<input class='form-control' id='datetimepicker4Input' placeholder="2022-12-31 09:30" required
							   th:field="*{date}" type="text"/>
						<span class='input-group-text'>
								<span class='fa-solid fa-calendar'></span>
							<!--Picker not working yet-->
							</span>
					</div>
					<span class="text-danger" th:errors="*{date}" th:if="${#fields.hasErrors('date')}">
							error date</span>
					<small class="form-text text-muted" id="dtpickerHelp"> DD/MM/YYYY h:mm a</small>
				</div>
			</div>
			<div class="row mb-4 scrollable">
				<div class="col">
					<div class="row mt-3">
						<legend>Select activities</legend>
					</div>
					<div class="row mb-1 " th:each="activity: ${activities}">
						<div class="col">
							<input id="activities" name="activity" th:field="*{activityList}" th:value="${activity.id}"
								   type="checkbox">
							<label for="activities" th:text="${activity.name}"> Activity name</label>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>

	</div>

	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
	</footer>
</div>
</body>

</html>