<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Event details</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-event">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>

		<div class="row my-4 text-danger" th:unless="${event}">
			<h4> This event does not exist.</h4>
		</div>

		<div class="row my-4" th:if="${event}">
			<div class="col">
				<h3> Details</h3>
			</div>
		</div>

		<!--name descr org date actList partListname descr org date actList partList-->

		<div class="row my-2" th:if="${event}">

			<div class="col-12 col-lg-8 align-self-center">
				<div class="row my-3">
					<div class="col-12 col-md-7 my-auto">
						<h2 th:text="${event.name}">Conference 101</h2>
					</div>
					<div class="col-12 col-md-5 my-auto">
						<p> curated by <br>
							<a href="#" th:href="@{'/protected/organizer' + '/' + ${event.organizer.id}}"
								th:text="${event.organizer}"> John Doe
							</a>
						</p>
					</div>
				</div>
				<div class="row my-3">
					<div class="col-12 col-md-7">
						<p th:text="${event.description}"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
						</p>
					</div>
					<div class="col-12 col-md-5">
						<p th:text="|duration: ${duration} hours|">duration: 2 hours </p>
						<!--valore calcolato come somma delle durate delle attività-->
					</div>
				</div>
				<hr>
				<div class="row my-3 ">
					<div class="col-12 col-md-7">
						<div class="row">
							<h4>Activities</h4>
						</div>
						<div class="row scrollable">
							<ul>
								<li th:each="activity : ${event.activityList}">
									<a href="#" th:href="@{'/protected/activity' + '/' + ${activity.id}}"
										th:text="${activity.name} + ' - ' + ${activity.description}">Meeting - Welcome
										speech</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="row">
							<h4>Participants</h4>
						</div>
												<div class="row scrollable">
							<ul class="list-unstyled">
								<li th:each="user : ${event.participants}">
									<!-- if admin, link to user details; if user, only list of names -->
									<a href="#" th:href="@{'/admin/user' + '/' + ${user.id}}"
										th:text="${user.firstName} + ' ' + ${user.lastName}"
									   sec:authorize="hasAuthority('ADMIN')">Mickey Mouse</a>

									<p th:text="|${user.firstName}  ${user.lastName}|"
									   sec:authorize="hasAuthority('DEFAULT')">Minnie Mouse </p>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 align-self-center">
				<img class="img-fluid rounded-3" th:src="@{/images/conf_room.jpg}" src="../../static/images/act.jpg"
					alt="event picture">
			</div>
		</div>

		<div class="row my-2" th:if="${event}">

			<div class="col align-self-center">
				<form id="register" method="POST" th:action="@{'/protected/registerToEvent/' + ${event.id}}">
					<button class="btn btn-primary" type="submit">Register</button>
				</form>
			</div>

		</div>

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>
			</div>
		</footer>

	</div>
</body>

</html>