<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Events</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-event">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>

		<figure class="text-center">
			<h4>Add a event</h4>
		</figure>

		<div class="cover-container align-self-center">

			<form id="newEventForm" method="POST" th:action="@{/admin/event}" th:object="${event}">
				<div class="error-text" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> this will contain errors </p>
				</div>
				<div class="col-md-6 mb-3">
					<label for="eventname" class="form-label">Name</label>
					<input type="text" class="form-control" id="eventname" th:field="*{name}" th:value="*{name}"
						placeholder="Meeting" required />

				</div>

				<div class="col-md-6 mb-3">
					<label for="organizer">Select organizer</label>
					<select class="form-control" id="organizer" th:field="*{chef}">
						<option>Select Organizer</option>
						<option th:each="c : ${organizersList}" th:value="${c.id}" th:text="${c}"> John Doe
						</option>
					</select>
				</div>

				<div class="col-md-6 mb-3">
					<div class="input-group">
						<span class="input-group-text">Description</span>
						<textarea class="form-control" aria-label="Description" th:field="*{description}"
							th:value="*{description}" placeholder="Entere here the description" required></textarea>
					</div>

				</div>

				<div class="mb-3">
					<label for="eventDuration" class="form-label">Duration</label>
					<div class="input-group">
						<input type="text" class="form-control" id="eventDuration" aria-label="Hours"
							th:field="*{duration}" th:value="*{duration}" placeholder="e.g.: 2,5" />
						<span class="input-group-text">hours</span>
					</div>

				</div>
				<div class="row">
					<div class="col">
						<div class="row mt-3">
							<legend>Select activities</legend>
						</div>
						<div class="row mb-5" th:each="activity: ${activities}">
							<div class="col">
								<input type="checkbox" id="activities" th:field="*{activityList}" name="activity"
									th:value="${activity.id}">
								<label for="activities" th:text="${activity.name}">Tool name</label>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
		</footer>

	</div>
</body>


</html>