<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Delete Tool</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-home">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>

		<figure class="text-center">
			<h4>Delete a tool</h4>
		</figure>

		<!--/*@thymesVar id="buffet" type="it.uniroma3.siw.siwcateringservice.model.Buffet"*/-->
		<div class="container">
			<p th:text="'You are about to remove: ' + ${tool.name}">You are about to remove:
				Whiteboard </p>
			<form method="POST" th:action="@{'/admin/delete/tool' + '/' + ${tool.id}}" th:object="${tool}">
				<button class="btn btn-danger" type="submit">Confirm</button>
				<a class="btn btn-secondary" href="#" th:href="@{'/tools'}" th:text="Cancel">Cancel</a>
			</form>

		</div>

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
		</footer>

</body>

</html>