<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Tool details</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-tool">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>

		<div class="row my-4 text-danger" th:unless="${tool}">
			<h4> This tool does not exist.</h4>
		</div>

		<div class="row my-4" th:if="${tool}">
			<div class="col">
				<h3> Details</h3>
			</div>
		</div>


		<div class="row my-2" th:if="${tool}">

			<div class="col-12 col-lg-8 align-self-center">
				<div class="row my-3">
					<div class="col">
						<h2 th:text="${tool.name}">Whiteboard</h2>

					</div>
				</div>
				<div class="row my-3">
					<div class="col-10">
						<p th:text="${tool.description}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
					</div>
					<div class="col-2">
						<p th:text="'$' + ${tool.cost}"> $99.00 </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<img class="img-fluid rounded-3" th:src="@{/images/whiteboard.jpg}"
					src="../../static/images/whiteboard.jpg" alt="tool picture">
			</div>
		</div>

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
		</footer>

	</div>
</body>

</html>