<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Tools</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
</head>

<body class="text-center bg-tool">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto" th:replace="fragments/components :: header">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
			</nav>
		</div>
	</header>

	<figure class="text-center">
		<h4>Add a tool</h4>
	</figure>

	<div class="cover-container align-self-center">

		<form id="newToolForm" method="POST" th:action="@{/admin/tool}" th:object="${tool}">
			<div class="text-danger" th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> this will contain errors </p>
			</div>
			<div class="mb-3">
				<label class="form-label" for="toolname">Name</label>
				<input class="form-control" id="toolname" placeholder="Whiteboard" th:field="*{name}"
					   th:value="*{name}" type="text"/>
				<span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">
						error name</span>
			</div>

			<div class="mb-3">
				<div class="input-group">
					<span class="input-group-text">Description</span>
					<textarea aria-label="Description" class="form-control" placeholder="Enter here your description"
							  th:field="*{description}" th:value="*{description}"/></textarea>
				</div>
				<span class="text-danger" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">
						error description</span>
			</div>

			<div class="mb-3">
				<label class="form-label" for="toolCost">Cost</label>
				<div class="input-group">
					<span class="input-group-text">$</span>
					<input aria-describedby="toolCostHelp" aria-label="Amount (to the nearest dollar)" class="form-control"
						   id="toolCost" placeholder="99"
						   th:field="*{cost}"
						   th:value="*{cost}" type="text"/>
					<span class="input-group-text">.00</span>
				</div>
				<span class="text-danger" th:errors="*{cost}" th:if="${#fields.hasErrors('cost')}">
						error cost</span>
				<div class="form-text" id="toolCostHelp">integer value</div>
			</div>

			<button class="btn btn-primary" type="submit">Submit</button>
		</form>

	</div>

	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
	</footer>

</div>
</body>


</html>