<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Tools</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-home">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>


		<div class="row my-4" th:if="${tools.isEmpty()}">
			<h4>No Tools Available</h4>
		</div>

		<div class="row my-4" th:unless="${tools.isEmpty()}">
			<h4> Available tools</h4>

		</div>

		<div class="row my-2" th:unless="${tools.isEmpty()}">

			<div class="col-3">
				<h5>Name</h5>
			</div>
			<div class="col-5">
				<h5>Description</h5>
			</div>
			<div class="col-2">
				<h5>Cost</h5>
			</div>
			<div class="col-2">
				<h5>Edit</h5>
			</div>
		</div>
		<!--/*@thymesVar id="dishes" type="java.util.List<Tool>"*/-->
		<div class="row mb-2" th:each="tool : ${tools}">
			<div class="col-3"> <a href="#" th:href="@{'/tool' + '/' + ${tool.id}}"
					th:text="${tool.name}">Whiteboard</a> </div>

			<div class="col-5">
				<p th:text="${tool.description}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
			</div>
			<div class="col-2">
				<p th:text="'$' + ${tool.cost}"> $99.00 </p>
			</div>
			<div class="col-2">
				<div class="btn-group btn-group-sm" role="group" aria-label="buttons">
					<a class="btn btn-danger btn-sm" href="#"
						th:href="@{'/admin/delete/tool' + '/' + ${tool.id}}">Remove</a>
					<a class="btn btn-warning btn-sm" href="#"
						th:href="@{'/admin/edit/tool' + '/' + ${tool.id}}">Edit</a>
				</div>
			</div>
		</div>

		<!--<table class="table table-responsive table-dark">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Cost</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
		
				<tr th:each="tool : ${tools}">
					<td>
						<a href="tool.html/0" th:href="@{'/tool' + '/' + ${tool.id}}"
							th:text="${tool.name}">Whiteboard</a>
					</td>

					<td>
						<p th:text="${tool.description}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
					</td>

					<td>
						<p th:text="'$' + ${tool.cost}"> $99.00 </p>
					</td>

					<td>
						<div class="btn-group btn-group-sm" role="group" aria-label="buttons">
							<a class="btn btn-danger btn-sm" href="#"
								th:href="@{'/admin/delete/tool' + '/' + ${tool.id}}">Remove</a>
							<a class="btn btn-warning btn-sm" href="#"
								th:href="@{'/admin/edit/tool' + '/' + ${buffet.id}}">Edit</a>
						</div>
					</td>
				</tr>

			</tbody>
		</table>-->

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
			<div id="inner">
				<span>
					<a href="#" th:href="@{/admin}" sec:authorize="isFullyAuthenticated()">Home</a>
					- <a href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</span>
			</div>
		</footer>

	</div>
</body>

</html>