<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="baseHeadLinks(title, links)">
	<meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport"/>
	<meta content="A management system for an event organizer." name="description">
	<meta content="Filippo Visconti" name="author">
	<title th:replace="${title}">EventManagement</title>
	<!-- default styles and scripts -->
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
	<link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/static/bootstrap/css/bootstrap.css}">
	<link href="../../static/custom/base.css" rel="stylesheet" th:href="@{/static/custom/base.css}">
	<link href="../../static/custom/test.css" rel="stylesheet" th:href="@{/static/custom/test.css}">

	<!--<script th:src="@{/js/jquery.min.js}"></script>-->

	<th:block th:replace="${links}"/>

</head>

<body class="text-center bg">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto" th:fragment="footer">
		<div class="inner">
			<h3 class="masthead-brand">Cover</h3>
			<nav class="nav nav-masthead justify-content-center">
				<a class="nav-link active" href="#">Home</a>
				<a class="nav-link" href="#">Features</a>
				<a class="nav-link" href="#">Contact</a>
			</nav>
		</div>
	</header>

	<main class="inner cover" role="main">
		<h1 class="cover-heading">Cover your page.</h1>
		<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
			the text, and add your own fullscreen background photo to make it your own.</p>
		<p class="lead">
			<a class="btn btn-lg btn-secondary" href="#">Learn more</a>
		</p>
	</main>
	<!--<div>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
			<defs>
				<path id="gentle-wave"
					d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
			</defs>
			<g class="parallax">
				<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
				<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
				<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
				<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
			</g>
		</svg>
	</div>-->
	<footer class="mastfoot mt-auto" th:fragment="footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a></p>

		</div>
		<div id="inner">
				<span>
					<a href="/index.html" sec:authorize="isFullyAuthenticated()" th:href="@{/admin}">Home</a>
					<a href="/index.html" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a> -
					<a href="/index.html" sec:authorize="isFullyAuthenticated()" th:href="@{/logout}">Logout</a>
					<a href="/index.html" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
				</span>
		</div>
	</footer>
</div>


<!--Waves end-->

</body>


</html>