<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Activities</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
</head>

<body class="text-center bg-activity">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto" th:replace="fragments/components :: header">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
			</nav>
		</div>
	</header>

	<figure class="text-center">
		<h4>Add an activity</h4>
	</figure>

	<div class="cover-container align-self-center">

		<form id="newActivityForm" method="POST" th:action="@{/admin/activity}" th:object="${activity}">
			<div class="text-danger" th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> this will contain errors </p>
			</div>
			<div class="mb-3">
				<label class="form-label" for="activityname">Name</label>
				<input class="form-control" id="activityname" placeholder="Meeting" required th:field="*{name}"
					   th:value="*{name}" type="text"/>
				<span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">
						error name</span>
			</div>

			<div class="mb-3">
				<div class="input-group">
					<span class="input-group-text">Description</span>
					<textarea aria-label="Description" class="form-control" placeholder="Enter here the description"
							  required th:field="*{description}" th:value="*{description}"></textarea>
				</div>
				<span class="text-danger" th:errors="*{description}"
					  th:if="${#fields.hasErrors('description')}">
							error description</span>

			</div>

			<div class="mb-3">
				<label class="form-label" for="activityCost">Duration</label>
				<div class="input-group">
					<input aria-label="Hours" class="form-control" id="activityCost" placeholder="2,5"
						   th:field="*{duration}" th:value="*{duration}" type="text"/>
					<span class="input-group-text">hours</span>
				</div>

				<span class="text-danger" th:errors="*{duration}" th:if="${#fields.hasErrors('duration')}">
						error duration</span>
			</div>
			<div class="row scrollable mb-5">
				<div class="col">
					<div class="row mt-3">
						<legend>Select tools</legend>
					</div>
					<div class="row" th:each="tool: ${tools}">
						<div class="col">
							<input id="tools" name="tool" th:field="*{toolList}" th:value="${tool.id}"
								   type="checkbox">
							<label for="tools" th:text="${tool.name}">Tool name</label>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>

	</div>

	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
	</footer>

</div>
</body>


</html>