<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Success</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
</head>

<body class="text-center bg-home">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto" th:replace="fragments/components :: header">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
			</nav>
		</div>
	</header>

	<p class="fw-bolder text-success bg-light"> Everything went smoothly</p>

	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
	</footer>
</div>
</body>

</html>