<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>BaseTitle</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-home">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public}" sec:authorize="isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/admin}" sec:authorize="isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/protected}"
						sec:authorize="isFullyAuthenticated()">Logout</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
					<a class="nav-link" href="#" th:href="@{/logout}" sec:authorize="isFullyAuthenticated()">Logout</a>
				</nav>
			</div>
		</header>

		<form th:action="@{/login}" method="POST">

			<div class="row">
				<div class="col">
					<div class="row justify-content-center">
						<div class="col-4 mb-3">
							<label for="username" class="form-label">Username</label>
							<input name="username" type="text" placeholder="username" required class="form-control"
								id="username">

						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-4 mb-3">
							<label for="pw" class="form-label">Password</label>
							<input name="password" type="password" placeholder="password" required class="form-control"
								id="pw">
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-4 mb-3">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>


		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
			<div id="inner">
				<span>
					<a href="#" th:href="@{/admin}" sec:authorize="isFullyAuthenticated()">Home</a>
					- <a href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</span>
			</div>
		</footer>

	</div>
</body>


</html>