<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Login</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
</head>

<body class="text-center bg-home">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/public}">Home</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/admin}">Home</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()"
				   th:href="@{/protected}">Logout</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/logout}">Logout</a>
			</nav>
		</div>
	</header>

	<form method="POST" th:action="@{/login}">

		<div class="row">
			<div class="col">
				<div class="row justify-content-center">
					<div class="col-4 mb-3">
						<label class="form-label" for="username">Username</label>
						<input class="form-control" id="username" name="username" placeholder="username" required
							   type="text">

					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-4 mb-3">
						<label class="form-label" for="pw">Password</label>
						<input class="form-control" id="pw" name="password" placeholder="password" required
							   type="password">
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-4 mb-3">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</form>


	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
		<div id="inner">
				<span>
					<a href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/admin}">Home</a>
					- <a href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
				</span>
		</div>
	</footer>

</div>
</body>


</html>