<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Sign up</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
</head>

<body class="text-center bg-home">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/public}">Home</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/admin}">Home</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()"
				   th:href="@{/protected}">Logout</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
				<a class="nav-link" href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/logout}">Logout</a>
			</nav>
		</div>
	</header>

	<!--/*@thymesVar id="credentials" type="it.uniroma3.siw.siwcateringservice.auth.models.Credentials"*/-->
	<form class="row g-3" method="POST" th:action="@{/register}" th:object="${credentials}">
		<div class="error-text" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> this will contain
				errors
			</p>
		</div>

		<div class="col-12">
			<label class="form-label" for="inputUsername">Username</label>
			<input class="form-control" id="inputUsername" placeholder="paperino" th:field="*{username}"
				   type="text">
			<span class="error-text" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">
					error name
				</span>
		</div>

		<div class="col-md-6">
			<label class="form-label" for="inputEmail4">Email</label>
			<input class="form-control" id="inputEmail4" th:field="*{user.email}" type="email">
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputPassword4">Password</label>
			<input class="form-control" id="inputPassword4" th:field="*{password}" type="password">
			<span class="error-text" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">
					error origin
				</span>
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputFname">First Name</label>
			<input class="form-control" id="inputFname" placeholder="John" th:field="*{user.firstName}" type="text">
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputLname">Last Name</label>
			<input class="form-control" id="inputLname" placeholder="Doe" th:field="*{user.lastName}" type="text">
		</div>
		<div class="col-12">
			<label class="form-label" for="inputAddress">Role</label>
			<input class="form-control" id="inputAddress" placeholder="DEFAULT or ADMIN" th:field="*{role}"
				   type="text">
		</div>

		<div class="col-12">
			<button class="btn btn-primary" type="submit">Sign in</button>
		</div>
	</form>


	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
		<div id="inner">
				<span>
					<a href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/admin}">Home</a>
					- <a href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
				</span>
		</div>
	</footer>

</div>
</body>


</html>