<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Organizers</title>
	<link href="../../static/css/bootstrap/css/bootstrap.css" rel="stylesheet"
		  th:href="@{/css/bootstrap/css/bootstrap.css}">
	<link href="../../static/css/custom/base.css" rel="stylesheet" th:href="@{/css/custom/base.css}">
</head>

<body class="text-center bg-organizer">

<div class="container d-flex h-100 p-3 mx-auto flex-column">

	<header class="masthead mb-auto" th:replace="fragments/components :: header">
		<div class="inner">
			<h3 class="masthead-brand">EventManagement </h3>

			<nav class="nav nav-masthead justify-content-center">
				<!--<a class="nav-link active" href="#">Home</a>-->
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/}">Home</a>
				<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
				<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
				<a class="nav-link" href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
			</nav>
		</div>
	</header>

	<figure class="text-center">
		<h4>Add an organizer</h4>
	</figure>

	<div class="cover-container align-self-center">

		<form id="newOrganizerForm" method="POST" th:action="@{/admin/edit/organizer/{id}(id=${organizer.id})}"
			  th:object="${organizer}">

			<div th:if="${#fields.hasGlobalErrors()}">
				<p class="text-danger font-monospace" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
					this will contain
					errors
				</p>
			</div>

			<div class="mb-3">
				<label class="form-label" for="organizerFirstName">First name</label>
				<input class="form-control" id="organizerFirstName" placeholder="John" required
					   th:field="*{firstName}" th:value="*{firstName}" type="text"/>
				<span class="text-danger font-monospace" th:errors="*{firstName}"
					  th:if="${#fields.hasErrors('firstName')}"> error
						first name </span>
			</div>

			<div class="mb-3">
				<label class="form-label" for="organizerLastName">Last name</label>
				<input class="form-control" id="organizerLastName" placeholder="Doe" required
					   th:field="*{lastName}" th:value="*{lastName}" type="text"/>
				<span class="text-danger font-monospace" th:errors="*{lastName}"
					  th:if="${#fields.hasErrors('lastName')}"> error
						last name </span>
			</div>
			<div class="mb-3">
				<label class="form-label" for="organizername">Country</label>
				<input class="form-control" id="organizername" placeholder="United States" required
					   th:field="*{country}" th:value="*{country}" type="text"/>
				<span class="text-danger font-monospace" th:errors="*{country}"
					  th:if="${#fields.hasErrors('country')}"> error
						country </span>
			</div>

			<button class="btn btn-primary" type="submit">Submit</button>
		</form>

	</div>

	<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
		<div class="inner">
			<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
				Lucrezia Sorrentino</p>

		</div>
	</footer>

</div>
</body>


</html>