<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Organizers</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-organizer">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>


		<div class="row my-4 bg-dark text-danger" th:if="${organizers.isEmpty()}">
			<h4>No Organizers Available</h4>
		</div>

		<div class="row my-4" th:unless="${organizers.isEmpty()}">
			<h4> Available organizers</h4>

		</div>

		<div class="row my-2 justify-content-center" th:unless="${organizers.isEmpty()}">

			<div class="col-4">
				<h5>Name</h5>
			</div>
			<div class="col-4">
				<h5>Country</h5>
			</div>
			<div class="col-4" sec:authorize="hasAuthority('ADMIN')">
				<h5>Edit</h5>
			</div>

		</div>
		<!--/*@thymesVar id="dishes" type="java.util.List<Organizer>"*/-->
		<div class="row mb-2 justify-content-center" th:each="organizer : ${organizers}">
			<div class="col-4"> <a href="#" th:href="@{'/protected/organizer' + '/' + ${organizer.id}}"
					th:text="|${organizer.firstName}: ${organizer.lastName}|"> John Doe </a> </div>

			<div class="col-4">
				<p th:text="${organizer.country}"> United States </p>
			</div>

			<div class="col-4" sec:authorize="hasAuthority('ADMIN')">
				<div class="btn-group btn-group-sm" role="group" aria-label="buttons">
					<a class="btn btn-danger btn-sm" href="#"
						th:href="@{'/admin/delete/organizer' + '/' + ${organizer.id}}">Remove</a>
					<a class="btn btn-warning btn-sm" href="#"
						th:href="@{'/admin/edit/organizer' + '/' + ${organizer.id}}">Edit</a>
				</div>
			</div>
		</div>

		<div class="row mt-5" sec:authorize="hasAuthority('ADMIN')">
			<div class="col">
				<a class="btn btn-success btn-lg" href="#" th:href="@{/admin/toolForm}">Add tool</a>
			</div>
		</div>

		<!--<table class="table table-responsive table-dark">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Cost</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
		
				<tr th:each="organizer : ${organizers}">
					<td>
						<a href="organizer.html/0" th:href="@{'/organizer' + '/' + ${organizer.id}}"
							th:text="${organizer.name}">Whiteboard</a>
					</td>

					<td>
						<p th:text="${organizer.description}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
					</td>

					<td>
						<p th:text="'$' + ${organizer.cost}"> $99.00 </p>
					</td>

					<td>
						<div class="btn-group btn-group-sm" role="group" aria-label="buttons">
							<a class="btn btn-danger btn-sm" href="#"
								th:href="@{'/admin/delete/organizer' + '/' + ${organizer.id}}">Remove</a>
							<a class="btn btn-warning btn-sm" href="#"
								th:href="@{'/admin/edit/organizer' + '/' + ${buffet.id}}">Edit</a>
						</div>
					</td>
				</tr>

			</tbody>
		</table>-->

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a href="https://www.filippovisconti.com">Filippo Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
		</footer>

	</div>
</body>

</html>