<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Admin dashboard</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-home">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>


		<div class="row">
			<div class="col">
				<h1>
					Welcome Admin
				</h1>
				<div class="btn-group btn-group-lg my-3">
					<a class="btn btn-lg btn-success" href="#" th:href="@{/}">Explore </a>
					<a class="btn btn-lg btn-secondary" href="#" th:href="@{/register}">Sign up</a>
					<a class="btn btn-lg btn-danger" href="#" th:href="@{/login}">Login</a>
				</div>
			</div>
		</div>

		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a class="text-decoration-none" href="https://www.filippovisconti.com">Filippo
						Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
		</footer>
	</div>
</body>

</html>