<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/components :: baseHeadLinks((~{::title}), (~{::link}))">
	<title>Admin dashboard</title>
	<link th:href="@{/css/bootstrap/css/bootstrap.css}" href="../../static/css/bootstrap/css/bootstrap.css"
		rel="stylesheet">
	<link th:href="@{/css/custom/base.css}" href="../../static/css/custom/base.css" rel="stylesheet">
</head>

<body class="text-center bg-home">

	<div class="container d-flex h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto" th:replace="fragments/components :: header">
			<div class="inner">
				<h3 class="masthead-brand">EventManagement </h3>

				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link active" href="#">Home</a>-->
					<a class="nav-link" href="#" th:href="@{/}" sec:authorize="!isFullyAuthenticated()">Home</a>
					<a class="nav-link" href="#" th:href="@{/public/events}">Events</a>
					<a class="nav-link" href="#" th:href="@{/public/activities}">Activities</a>
					<a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isFullyAuthenticated()">Login</a>
				</nav>
			</div>
		</header>


		<div class="row mb-5">
			<div class="col">
				<h2>
					Welcome,
				</h2>
				<h1>
					Name <div sec:authentication="name"></div>
				</h1>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-3">
				<div class="row">
					<p>Numero eventi disponibili</p>
				</div>
				<div class="row my-3">
					<h1 th:text="${numEvents}"> 10 </h1>
				</div>
				<div class="row my-3">
					<div class="col">
						<a class="btn btn-warning" href="#" th:href="@{/public/events}">Edit users</a>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row">
					<p>Numero attività disponibili</p>
				</div>
				<div class="row my-3">
					<h1 th:text="${numActivities}"> 23 </h1>
				</div>
				<div class="row my-3">
					<div class="col">
						<a class="btn btn-warning" href="#" th:href="@{/public/activities}">Edit activities</a>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row">
					<p>Numero organizzatori disponibili</p>
				</div>
				<div class="row my-3">
					<h1 th:text="${numOrganizers}"> 6</h1>
				</div>
				<div class="row my-3">
					<div class="col">
						<a class="btn btn-warning" href="#" th:href="@{/public/organizers}">Edit organizers</a>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row">
					<p>Numero utenti registrati</p>
				</div>
				<div class="row my-3">
					<h1 th:text="${numUsers}"> 87 </h1>
				</div>
				<div class="row my-3">
					<div class="col">
						<a class="btn btn-warning" href="#" th:href="@{/public/events}">Edit users</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="mastfoot mt-auto" th:replace="fragments/components :: footer">
			<div class="inner">
				<p>&copy;2022 <a class="text-decoration-none" href="https://www.filippovisconti.com">Filippo
						Visconti</a>, Allegra Strippoli,
					Lucrezia Sorrentino</p>

			</div>
		</footer>
	</div>
</body>

</html>